.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f3f6f5;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f6bd60 !important;
}
.bg-success {
  background-color: #46dd97 !important;
}
.bg-info {
  background-color: #2fd3f4 !important;
}
.bg-warning {
  background-color: #ffc824 !important;
}
.bg-danger {
  background-color: #df4453 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f6bd60 !important;
  border-color: #f6bd60 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #f9d190 !important;
  border-color: #f9d190 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f9d190 !important;
  border-color: #f9d190 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f28482 !important;
  border-color: #f28482 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #f7b1b0 !important;
  border-color: #f7b1b0 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f7b1b0 !important;
  border-color: #f7b1b0 !important;
}
.btn-info,
.btn-info:active {
  background-color: #2fd3f4 !important;
  border-color: #2fd3f4 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5fddf7 !important;
  border-color: #5fddf7 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5fddf7 !important;
  border-color: #5fddf7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #46dd97 !important;
  border-color: #46dd97 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #71e5af !important;
  border-color: #71e5af !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #71e5af !important;
  border-color: #71e5af !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc824 !important;
  border-color: #ffc824 !important;
  color: #241b00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffd557 !important;
  border-color: #ffd557 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #241b00 !important;
  background-color: #ffd557 !important;
  border-color: #ffd557 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #df4453 !important;
  border-color: #df4453 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e6707b !important;
  border-color: #e6707b !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e6707b !important;
  border-color: #e6707b !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f6bd60;
  color: #f6bd60;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #f19b0e !important;
  background-color: transparent !important;
  border-color: #f19b0e !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f6bd60 !important;
  border-color: #f6bd60 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #f28482;
  color: #f28482;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ea3733 !important;
  background-color: transparent !important;
  border-color: #ea3733 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f28482 !important;
  border-color: #f28482 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #2fd3f4;
  color: #2fd3f4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0aa3c2 !important;
  background-color: transparent !important;
  border-color: #0aa3c2 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2fd3f4 !important;
  border-color: #2fd3f4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #46dd97;
  color: #46dd97;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #20ad6b !important;
  background-color: transparent !important;
  border-color: #20ad6b !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #46dd97 !important;
  border-color: #46dd97 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc824;
  color: #ffc824;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cc9900 !important;
  background-color: transparent !important;
  border-color: #cc9900 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #241b00 !important;
  background-color: #ffc824 !important;
  border-color: #ffc824 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #df4453;
  color: #df4453;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ae1e2c !important;
  background-color: transparent !important;
  border-color: #ae1e2c !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #df4453 !important;
  border-color: #df4453 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f6bd60 !important;
}
.text-secondary {
  color: #f28482 !important;
}
.text-success {
  color: #46dd97 !important;
}
.text-info {
  color: #2fd3f4 !important;
}
.text-warning {
  color: #ffc824 !important;
}
.text-danger {
  color: #df4453 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #e3920d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #e82926 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1da063 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0997b4 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bd8e00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a11c29 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f6bd60;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2fd3f4;
}
.alert-warning {
  background-color: #ffc824;
}
.alert-danger {
  background-color: #df4453;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f6bd60;
  border-color: #f6bd60;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f6bd60;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f2fdf8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f1fcfe;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffbf0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf2f3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f6bd60 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #f6bd60;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f6bd60;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f6bd60;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f6bd60;
  border-bottom-color: #f6bd60;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f6bd60 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f28482 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f6bd60' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-u7sBuO2S6V {
  display: flex;
  background-image: url("../../../assets/images/photo-1544367567-0f2fcb009e0b.webp");
}
.cid-u7sBuO2S6V .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-u7sBuO2S6V {
    align-items: flex-end;
  }
  .cid-u7sBuO2S6V .row {
    justify-content: flex-start;
  }
  .cid-u7sBuO2S6V .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u7sBuO2S6V .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u7sBuO2S6V {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u7sBuO2S6V .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u7sBuO2S6V .content-wrap {
    width: 100%;
  }
}
.cid-u7sBuO2S6V .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7sBuO2S6V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u7sBuO2S6V .mbr-section-title,
.cid-u7sBuO2S6V .mbr-section-subtitle {
  text-align: center;
  color: #ffc091;
}
.cid-u7sBuO2S6V .mbr-text,
.cid-u7sBuO2S6V .mbr-section-btn {
  text-align: center;
}
.cid-u7sBuO2S6V .mbr-section-title {
  color: #84A59D;
}
.cid-u7sBuO2S6V .mbr-section-subtitle {
  color: #84A59D;
}
.cid-u7sBuO2T2X {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #4b4770;
}
.cid-u7sBuO2T2X .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7sBuO2T2X .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u7sBuO2T2X .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-u7sBuO2T2X .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u7sBuO2T2X .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u7sBuO2T2X .card-wrapper {
    padding: 4rem;
  }
}
.cid-u7sBuO2T2X .mbr-text,
.cid-u7sBuO2T2X .mbr-section-btn {
  text-align: center;
}
.cid-u7sBuO3IhS {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #4b4770;
}
.cid-u7sBuO3IhS .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7sBuO3IhS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u7sBuO3IhS .mbr-text {
  color: #000000;
}
.cid-u7sBuO3IhS .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u7sBuO3IhS .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO3IhS .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u7sBuO3IhS .mbr-section-subtitle,
.cid-u7sBuO3IhS .main-button {
  color: #000000;
}
.cid-u7sBuO3u2o {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #4b4770;
}
.cid-u7sBuO3u2o .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7sBuO3u2o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u7sBuO3u2o .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u7sBuO3u2o .row {
  flex-direction: row-reverse;
}
.cid-u7sBuO3u2o .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u7sBuO3u2o .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u7sBuO3u2o .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u7sBuO3u2o .mbr-section-title {
  color: #000000;
}
.cid-u7sBuO3u2o .mbr-text,
.cid-u7sBuO3u2o .mbr-section-btn {
  color: #000000;
}
.cid-u7sBuO41Et {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #4b4770;
}
.cid-u7sBuO41Et img,
.cid-u7sBuO41Et .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u7sBuO41Et img,
  .cid-u7sBuO41Et .item-img {
    max-height: 300px;
  }
}
.cid-u7sBuO41Et .item:focus,
.cid-u7sBuO41Et span:focus {
  outline: none;
}
.cid-u7sBuO41Et .item-wrapper {
  position: relative;
}
.cid-u7sBuO41Et .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-u7sBuO41Et .slide-content .item-content {
  padding: 2.25rem 2.25rem 0;
}
.cid-u7sBuO41Et .slide-content .item-footer {
  padding: 0 2.25rem 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u7sBuO41Et .slide-content .item-content {
    padding: 2rem 1.5rem 0;
  }
  .cid-u7sBuO41Et .slide-content .item-footer {
    padding: 0 1.5rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-u7sBuO41Et .slide-content .item-content {
    padding: 1.5rem 1.5rem 0;
  }
  .cid-u7sBuO41Et .slide-content .item-footer {
    padding: 0 1.5rem 1.5rem;
  }
}
.cid-u7sBuO41Et .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u7sBuO41Et .mbr-section-title {
  color: #000000;
}
.cid-u7sBuO41Et .mbr-text,
.cid-u7sBuO41Et .mbr-section-btn {
  text-align: left;
}
.cid-u7sBuO41Et .item-title {
  text-align: left;
}
.cid-u7sBuO41Et .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-u7sBuO41Et .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-u7sBuO41Et .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-u7sBuO41Et .embla__button--next,
.cid-u7sBuO41Et .embla__button--prev {
  display: flex;
}
.cid-u7sBuO41Et .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-u7sBuO41Et .embla__button {
    display: none;
  }
}
.cid-u7sBuO41Et .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u7sBuO41Et .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-u7sBuO41Et .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u7sBuO41Et .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO41Et .embla__button {
    top: auto;
  }
}
.cid-u7sBuO41Et .embla {
  position: relative;
  width: 100%;
}
.cid-u7sBuO41Et .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u7sBuO41Et .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u7sBuO41Et .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u7sBuO41Et .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-u7sBuO41Et .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-u7sBuO41Et .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-u7sBuO41Et .content-head {
  max-width: 800px;
}
.cid-u7sBuO4OFE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #4b4770;
}
.cid-u7sBuO4OFE .item:focus,
.cid-u7sBuO4OFE span:focus {
  outline: none;
}
.cid-u7sBuO4OFE .item {
  cursor: pointer;
}
.cid-u7sBuO4OFE .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO4OFE .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-u7sBuO4OFE .grid-container-1,
.cid-u7sBuO4OFE .grid-container-2,
.cid-u7sBuO4OFE .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO4OFE .grid-container-1,
  .cid-u7sBuO4OFE .grid-container-2,
  .cid-u7sBuO4OFE .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-u7sBuO4OFE .mbr-section-title {
  color: #000000;
}
.cid-u7sBuO4OFE .mbr-text,
.cid-u7sBuO4OFE .mbr-section-btn {
  color: #000000;
}
.cid-u7sBuO4OFE .content-head {
  max-width: 800px;
}
.cid-u7sBuO4OFE .container,
.cid-u7sBuO4OFE .container-fluid {
  overflow: hidden;
}
.cid-u7sBuO4OFE .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-u7sBuO4OFE .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u7sBuO4OFE .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u7sBuO4OFE .grid-item img {
    min-width: 35vw;
  }
}
.cid-u7sBuO4OFE .grid-container-1,
.cid-u7sBuO4OFE .grid-container-2,
.cid-u7sBuO4OFE .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-u7sBuO4OFE .grid-container-1 {
  align-items: flex-end;
}
.cid-u7sBuO4OFE .grid-container-2 {
  align-items: flex-start;
}
.cid-u7sBuO5OXf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #4b4770;
}
.cid-u7sBuO5OXf .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-u7sBuO5OXf .panel-group {
  border: none;
}
.cid-u7sBuO5OXf .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO5OXf .card-header {
    padding: 0rem;
  }
}
.cid-u7sBuO5OXf .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-u7sBuO5OXf .img-col {
  padding: 0;
}
.cid-u7sBuO5OXf .img-item {
  height: 100%;
}
.cid-u7sBuO5OXf img {
  height: 100%;
  object-fit: cover;
}
.cid-u7sBuO5OXf .collapsed span {
  transform: rotate(0deg);
}
.cid-u7sBuO5OXf .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-u7sBuO5OXf p {
  margin-bottom: 0.3rem;
}
.cid-u7sBuO5OXf .panel-title-edit {
  color: #000000;
}
.cid-u7sBuO5OXf .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-u7sBuO5OXf .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO5OXf .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u7sBuO5OXf .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-u7sBuO5OXf .panel-text {
  color: #000000;
}
.cid-u7sBuO5OXf .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-u7sBuO5OXf .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-u7sBuO5OXf .panel-title-edit,
.cid-u7sBuO5OXf .mbr-iconfont {
  color: #000000;
}
.cid-u7sBuO6X27 {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #4b4770;
}
@media (max-width: 767px) {
  .cid-u7sBuO6X27 {
    padding-bottom: 5rem;
  }
}
.cid-u7sBuO6X27 img,
.cid-u7sBuO6X27 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .cid-u7sBuO6X27 img,
  .cid-u7sBuO6X27 .item-img {
    height: 300px;
    object-fit: cover;
  }
}
.cid-u7sBuO6X27 .mbr-text {
  color: #000000;
}
.cid-u7sBuO6X27 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u7sBuO6X27 .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO6X27 .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u7sBuO6X27 .mbr-text UL {
  text-align: left;
}
.cid-u7sBuO6X27 .mbr-section-subtitle,
.cid-u7sBuO6X27 .main-button {
  color: #000000;
}
.cid-u7sBuO6X27 .side-features {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
}
.cid-u7sBuO6X27 .side-features .item {
  padding-left: 16px;
  padding-right: 16px;
}
.cid-u7sBuO6X27 .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u7sBuO6X27 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u7sBuO6X27 .item-title {
  text-align: center;
}
.cid-u7sBuO6X27 .item-subtitle {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-u7sBuO6X27 .main-text {
    padding-left: 0;
    padding-right: 32px;
  }
}
.cid-u7sBuOa0nO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-u7sBuOa0nO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7sBuOa0nO .social-row .soc-item {
  margin: 8px;
}
.cid-u7sBuOa0nO .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7sBuOa0nO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7sBuOa0nO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7sBuOa0nO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7sBuOa0nO .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7sBuOa0nO .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7sBuOa0nO .header-menu li p {
  margin: 0;
}
.cid-u7sBuOa0nO .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7sBuOa0nO .mbr-section-title {
  color: #ffffff;
}
.cid-u7sBuOa0nO header-menu-item {
  color: #ffffff;
}
.cid-u7xhk6Sznv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #4b4770;
}
.cid-u7xhk6Sznv .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-u7xhk6Sznv img,
.cid-u7xhk6Sznv .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u7xhk6Sznv .item:focus,
.cid-u7xhk6Sznv span:focus {
  outline: none;
}
.cid-u7xhk6Sznv .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u7xhk6Sznv .item {
    margin-bottom: 1rem;
  }
}
.cid-u7xhk6Sznv .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u7xhk6Sznv .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u7xhk6Sznv .mbr-section-title {
  color: #232323;
}
.cid-u7xhk6Sznv .mbr-text,
.cid-u7xhk6Sznv .mbr-section-btn {
  color: #a6a99c;
  text-align: center;
}
.cid-u7xhk6Sznv .item-title {
  color: #232323;
  text-align: center;
}
.cid-u7xhk6Sznv .content-head {
  max-width: 800px;
}
.cid-u7sBuOa0nO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-u7sBuOa0nO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7sBuOa0nO .social-row .soc-item {
  margin: 8px;
}
.cid-u7sBuOa0nO .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7sBuOa0nO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7sBuOa0nO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7sBuOa0nO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7sBuOa0nO .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7sBuOa0nO .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7sBuOa0nO .header-menu li p {
  margin: 0;
}
.cid-u7sBuOa0nO .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7sBuOa0nO .mbr-section-title {
  color: #ffffff;
}
.cid-u7sBuOa0nO header-menu-item {
  color: #ffffff;
}
.cid-u7y6hCzlaQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #4b4770;
}
.cid-u7y6hCzlaQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7y6hCzlaQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u7y6hCzlaQ .card-wrapper {
  background: #9fe870;
}
@media (max-width: 767px) {
  .cid-u7y6hCzlaQ .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u7y6hCzlaQ .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u7y6hCzlaQ .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-u7y6hCzlaQ .mbr-text,
.cid-u7y6hCzlaQ .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-u7y6hCzlaQ .card-title,
.cid-u7y6hCzlaQ .card-box {
  text-align: center;
  color: #2e481a;
}
.cid-u7y6aR8NuG {
  padding-top: 8rem;
  padding-bottom: 7rem;
  background-color: #4b4770;
}
.cid-u7y6aR8NuG .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7y6aR8NuG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u7y6aR8NuG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u7y6aR8NuG .row {
  flex-direction: row-reverse;
}
.cid-u7y6aR8NuG .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u7y6aR8NuG .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u7y6aR8NuG .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u7y6aR8NuG .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-u7y6aR8NuG .mbr-text,
.cid-u7y6aR8NuG .mbr-section-btn {
  color: #000000;
}
.cid-u7sBuOa0nO {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-u7sBuOa0nO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7sBuOa0nO .social-row .soc-item {
  margin: 8px;
}
.cid-u7sBuOa0nO .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7sBuOa0nO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7sBuOa0nO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7sBuOa0nO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7sBuOa0nO .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7sBuOa0nO .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7sBuOa0nO .header-menu li p {
  margin: 0;
}
.cid-u7sBuOa0nO .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7sBuOa0nO .mbr-section-title {
  color: #ffffff;
}
.cid-u7sBuOa0nO header-menu-item {
  color: #ffffff;
}
.cid-u7yVV6yc0o {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-u7yVV6yc0o .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u7yVV6yc0o form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u7yVV6yc0o form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u7yVV6yc0o form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u7yVV6yc0o .content-head {
  max-width: 800px;
}
.cid-u7sBuOa0nO {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-u7sBuOa0nO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7sBuOa0nO .social-row .soc-item {
  margin: 8px;
}
.cid-u7sBuOa0nO .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7sBuOa0nO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7sBuOa0nO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7sBuOa0nO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7sBuOa0nO .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7sBuOa0nO .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7sBuOa0nO .header-menu li p {
  margin: 0;
}
.cid-u7sBuOa0nO .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7sBuOa0nO .mbr-section-title {
  color: #ffffff;
}
.cid-u7sBuOa0nO header-menu-item {
  color: #ffffff;
}
.cid-u7yWc6gS63 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #260a30;
}
.cid-u7yWc6gS63 input {
  padding: 1.2rem 1.5rem;
  border: none !important;
  height: 100%;
}
.cid-u7yWc6gS63 input:hover {
  border: none !important;
}
.cid-u7yWc6gS63 .btn {
  height: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-u7yWc6gS63 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u7yWc6gS63 .row {
  justify-content: center;
}
.cid-u7yWc6gS63 .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
@media (min-width: 768px) {
  .cid-u7yWc6gS63 .mbr-section-btn {
    margin-left: initial;
  }
}
.cid-u7yWc6gS63 .mbr-section-btn .btn {
  width: auto;
}
@media (max-width: 991px) {
  .cid-u7yWc6gS63 .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-u7yWc6gS63 .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-u7yWc6gS63 .justify-content-center {
  align-items: center;
}
.cid-u7yWc6gS63 .mbr-section-title {
  text-align: center;
  color: #ffd7ef;
}
.cid-u7sBuOa0nO {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-u7sBuOa0nO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7sBuOa0nO .social-row .soc-item {
  margin: 8px;
}
.cid-u7sBuOa0nO .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7sBuOa0nO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7sBuOa0nO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7sBuOa0nO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7sBuOa0nO .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7sBuOa0nO .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7sBuOa0nO .header-menu li p {
  margin: 0;
}
.cid-u7sBuOa0nO .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7sBuOa0nO .mbr-section-title {
  color: #ffffff;
}
.cid-u7sBuOa0nO header-menu-item {
  color: #ffffff;
}
